.user {
  background-color: skyblue;
  text-align: right;
}

.app {
  background-color: mistyrose;
  text-align: left;
}


.container {
  width: 100%;
  height: 100%;
  background-color: mistyrose;
}
